



<form action="/" method="post">
    <h3>Sunucudan Mesaj Gönderme</h3>
    <input autocomplete="off" type="email" name="mail" maxlength="30" placeholder="Hedef mail">
    <button type="submit">Gönder</button>
</form>